@use '/dist/ngx-shared/styles/ngx-mat-mixins';

.form {
  font-size: 16px;

  .icon-close {
    @include ngx-mat-mixins.mat-icon-size(18);
  }

  .search-box {
    position: relative;
    top: 10px;
  }
}
