<form
  autocomplete="off"
  class="form"
  novalidate
  [formGroup]="form"
>
  <mat-form-field
    class="search-box density-xs"
    appearance="outline"
  >
    <input
      aria-label="Search Box"
      placeholder="Search"
      type="text"
      #searchBox
      matInput
      formControlName="search"
      [matAutocomplete]="auto"
      (input)="search(searchBox.value)"
    >

    @if (searchBox.value) {
      <button
        aria-label="Clear"
        matIconSuffix
        mat-icon-button
        (click)="searchBox.value=''; search('')"
      >
        <mat-icon class="icon-close">close</mat-icon>
      </button>
    }

    <mat-autocomplete #auto="matAutocomplete">
      @for (option of searchOptions$ | async; track option) {
        <mat-option
          [value]="option.name"
          (click)="optionSelected(option)"
        >
          {{option.name}}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
