
<mat-toolbar>
  <mat-toolbar-row>
    <div class="header">
      <img class="logo-img" src="/assets/images/logo.svg" alt="Logo">

      <div class="close-button"
        (click)="closeForm()">
        <mat-icon>close</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content [ngSwitch]="authState">
  <ng-container *ngSwitchDefault>
    <mat-tab-group #loginTabs animationDuration="300ms">
      <mat-tab label="Login">
        <anp-login-form
          [authState]="authState"
          [userEmail]="predefinedEmail"
          [userPhone]="predefinedPhone"
          (resetPassword)="switchToPasswordResetForm($event)"
          (submitLogin)="handleSingInForm($event)"
        ></anp-login-form>
      </mat-tab>

      <mat-tab label="Register">
        <anp-registration-form></anp-registration-form>
      </mat-tab>
    </mat-tab-group>

  </ng-container>

  <anp-password-reset *ngSwitchCase="AuthState.QueryPasswordReset"
  ></anp-password-reset>

  <anp-password-change *ngSwitchCase="AuthState.ResettingPassword"
  ></anp-password-change>

  <ng-container *ngSwitchCase="AuthState.Activate">
    <span class="activation-text">
      Please activate your account before proceed
    </span>
  </ng-container>
</mat-dialog-content>


