
<mat-toolbar>
  <mat-toolbar-row>
    <div class="header">
      <img class="logo-img" src="/assets/images/logo.svg" alt="Logo">

      <h4 class="title">Login</h4>

      <div class="close-button"
        (click)="closeForm()">
        <mat-icon>close</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <div>Content</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="secondary-button" mat-flat-button mat-dialog-close>Cancel</button>

  <button
    mat-flat-button
    cdkFocusInitial
    (click)="login({ email: 'angularnestpostgre@gmail.com', password: 'Angularnestpostgre1' })"
  >Login</button>
</mat-dialog-actions>

