<button
  aria-label="Profile"
  mat-icon-button
  [matMenuTriggerFor]="profileMenu"
>
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #profileMenu="matMenu">
  <a
    mat-menu-item
    [routerLink]="['../profile']"
    [routerLinkActive]="'selected'"
  >
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>

  <button mat-menu-item (click)="showLoginForm()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>

  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
