<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    @expandNode
  >
    <a
      class="menu-item link"
      mat-menu-item
      [routerLinkActive]="'selected'"
      [routerLink]="node.path"
      (click)="itemChosen()"
    >
      <div>{{node.name}}</div>
    </a>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node;when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
    @expandNode
  >
    <button
      [attr.aria-label]="'Toggle ' + node.name"
      class="menu-item expandable"
      mat-menu-item
      matTreeNodeToggle
    >
      <div class="content-wrapper">
        <div>{{node.name}}</div>

        <mat-icon [@expandArrow]="tree.isExpanded(node) ? 'expand' : 'close'">
          chevron_right
        </mat-icon>
      </div>
    </button>
  </mat-tree-node>
</mat-tree>
