<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    @expandNode
    *matTreeNodeDef="let node"
    [routerLinkActive]="'selected'"
  >
    <a
      class="menu-item link"
      mat-button
      matTreeNodePadding
      [matTreeNodePaddingIndent]="16"
      [routerLink]="node.path"
      (click)="itemChosen()"
    >
      <div class="initial-indent">{{node.name}}</div>
    </a>
  </mat-tree-node>

  <mat-tree-node
    @expandNode
    *matTreeNodeDef="let node;when: hasChild"
  >
    <button
      [attr.aria-label]="'Toggle ' + node.name"
      class="menu-item expandable"
      mat-button
      matTreeNodeToggle
      matTreeNodePadding
      [matTreeNodePaddingIndent]="16"
    >
      <div class="content-wrapper initial-indent">
        <div>{{node.name}}</div>

        <mat-icon [@expandArrow]="treeControl.isExpanded(node) ? 'expand' : 'close'">
          chevron_right
        </mat-icon>
      </div>
    </button>
  </mat-tree-node>
</mat-tree>
