@use '/node_modules/@angular/material' as mat;
@use '../variables' as vars;

@mixin override-colors($theme) {
  $type: mat.get-theme-type($theme);
  $is-dark-theme: $type == dark;

  @include mat.button-overrides((
    filled-container-color: vars.color-primary($theme, $is-dark-theme),
    filled-label-text-color: vars.text-color($theme, $is-dark-theme),
  ));

  @include mat.dialog-overrides((
    container-color: vars.background-color-main($theme, $is-dark-theme),
    supporting-text-color: vars.text-color($theme, $is-dark-theme),
  ));

  @include mat.form-field-overrides((
    filled-input-text-placeholder-color: vars.text-color-inactive($theme, $is-dark-theme),
    outlined-input-text-placeholder-color: vars.text-color-inactive($theme, $is-dark-theme),
  ));

  @include mat.sidenav-overrides((
    container-background-color: vars.color-primary($theme, $is-dark-theme),
    content-background-color: vars.background-color-main($theme, $is-dark-theme),
  ));

  @include mat.tabs-overrides((
    inactive-label-text-color: vars.text-color-inactive($theme, $is-dark-theme),
  ));

  @include mat.toolbar-overrides((
    container-background-color: vars.color-primary($theme, $is-dark-theme),
  ));

  @include mat.tree-overrides((
    container-background-color: vars.color-primary($theme, $is-dark-theme),
  ));
}