@use '/node_modules/@angular/material' as mat;

// Set palettes
$dark-primary-palette: mat.$magenta-palette;
$dark-tertiary-palette: mat.$violet-palette;
// $dark-error-pallete:
$light-primary-palette: mat.$azure-palette;
$light-tertiary-palette: mat.$blue-palette;