@use "@angular/material" as mat;

@mixin mat-densities() {
  $densities: (
    "sm": -1,
    "xs": -2,
    "xxs": -3,
    "3xs": -4,
    "4xs": -5,
  );

  @each $name, $density in $densities {
    .density-#{$name} {
      // @include mat.all-component-densities($density);
      @include mat.autocomplete-density($density);
      @include mat.button-density($density);
      @include mat.form-field-density($density);
      @include mat.icon-density($density);
      @include mat.input-density($density);
      @include mat.menu-density($density);
      @include mat.sidenav-density($density);
      @include mat.toolbar-density($density);
      @include mat.tree-density($density);
    }
  }
}
