@use '/node_modules/@angular/material' as mat;
@use '../variables' as vars;

@mixin global-styles($theme) {
  $type: mat.get-theme-type($theme);
  $is-dark-theme: $type == dark;
  $mat-container-background-color: if($is-dark-theme,
    mat.get-theme-color($theme, primary, 20),
    mat.get-theme-color($theme, primary, 90)
  );

  @include mat.sidenav-overrides((
    container-background-color: $mat-container-background-color,
  ));

  @include mat.toolbar-overrides((
    container-background-color: $mat-container-background-color,
  ));

  @include mat.tree-overrides((
    container-background-color: $mat-container-background-color,
  ));

  .mat-mdc-button-base:not([disabled]):hover, .mat-mdc-menu-item:not([disabled]):hover {
    background-color: if($is-dark-theme,
      mat.get-theme-color($theme, primary, 10),
      mat.get-theme-color($theme, secondary, 90)
    );
  }

  .mat-mdc-button-base.selected, .mat-mdc-menu-item.selected {
    background-color: if($is-dark-theme,
      mat.get-theme-color($theme, primary, 30),
      mat.get-theme-color($theme, secondary, 70)
    );
  }
}