@use "/node_modules/@angular/material" as mat;
@use "./all" as themes;

.dark-theme {
  @include mat.core-color(themes.$dark-theme);

  @include mat.autocomplete-color(themes.$dark-theme);
  @include mat.button-color(themes.$dark-theme);
  @include mat.form-field-color(themes.$dark-theme);
  @include mat.icon-color(themes.$dark-theme);
  @include mat.input-color(themes.$dark-theme);
  @include mat.menu-color(themes.$dark-theme);
  @include mat.sidenav-color(themes.$dark-theme);
  @include mat.toolbar-color(themes.$dark-theme);
  @include mat.tree-color(themes.$dark-theme);
}
