@use '/node_modules/@angular/material' as mat;
@use './gen-mixins';

@mixin mat-background-color($theme, $pallete, $hue-weight) {
  background-color: mat.get-theme-color($theme, $pallete, $hue-weight);
}

@mixin mat-color($theme, $pallete, $hue-weight) {
  color: mat.get-theme-color($theme, $pallete, $hue-weight);
}

@mixin mat-icon-size($size: 20) {
  --mdc-icon-button-icon-size: #{$size}px;
  font-size: #{$size}px;
  height: #{$size}px;
  line-height: #{$size}px;
  width: #{$size}px;
}

@mixin mat-icon-button-size($btn-size: 36, $icn-size: 18) {
  $button-size: #{$btn-size}px;
  $icon-size: #{$icn-size}px;

  &.mdc-icon-button:not([class*="mat-mdc-paginator"]) {
    height: $button-size;
    line-height: $button-size;
    width: $button-size;

    .mat-mdc-button-touch-target {
      height: $button-size;
      width: $button-size;
    }

    .mat-icon {
      @include gen-mixins.center-absolute();
      --mdc-icon-button-icon-size: $icon-size;
      font-size: $icon-size;
      height: $icon-size;
      line-height: $icon-size;
      width: $icon-size;
    }
  }
}

@mixin mat-button-round($borderRadius: 16) {
  --border-radius: #{$borderRadius}px;
  --mdc-text-button-container-shape: var(--border-radius);
  --mdc-protected-button-container-shape: var(--border-radius);
  --mdc-outlined-button-container-shape: var(--border-radius);
  --mdc-filled-button-container-shape: var(--border-radius);
}