
.button-rounded {
  --border-radius: 16px;
  --mdc-text-button-container-shape: var(--border-radius);
  --mdc-protected-button-container-shape: var(--border-radius);
  --mdc-outlined-button-container-shape: var(--border-radius);
  --mdc-filled-button-container-shape: var(--border-radius);
}