@use '/node_modules/@angular/material' as mat;
@use 'themes/palettes' as palette;

@mixin mat-background-color($theme, $pallete, $weight) {
  // $type: mat.get-theme-type($theme);
  // $is-dark-theme: $type == dark;
  // $is-light-theme: $type == light;
  // $exportBackgroundOpacity: if($is-dark-theme, 0.12, 0.06);
  background-color: mat.get-theme-color($theme, $pallete, $weight);
}

@mixin mat-color($theme, $pallete, $weight) {
  background-color: mat.get-theme-color($theme, $pallete, $weight);
}

// From @angular/material/core/theming/_palette.scss
// Copy past because these colors are not showed by @forward in  @angular/material/_index.scss
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$mob-width: 600px;
$tab-width: 1025px;