@use '../../../styles/themes/all' as themes;
@use '../../../styles/variables' as vars;

:host-context(.dark-theme) {
  .selected {
    @include vars.mat-background-color(themes.$dark-theme, primary, 20);
  }
}

:host {
  display: block;
  min-width: 200px;
  padding: 16px 0;
}

mat-tree-node {
  align-items: stretch;
  overflow: hidden;
}

.selected {
  @include vars.mat-background-color(themes.$light-theme, secondary, 80);
}

.menu-item {
  border-radius: 0;
  width: 100%;

  &.link {
    align-items: center;
    display: flex;
  }

  &.expandable {
    .content-wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .initial-indent {
    padding-left: 16px;
  }
}
