@use '../styles/variables' as vars;

.toolbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .main-toolbar-row {
    .mob-menu-icon {
      aspect-ratio: 1/1;
      height: 100%;
      margin-right: 8px;
      width: auto;
    }

    .logo-link {
      align-items: center;
      display: flex;
      height: 100%;
      margin-right: 16px;

      @media(max-width: vars.$tab-width) {
        margin-right: 8px;
      }

      .logo-img {
        height: 60%;
        max-width: none;
      }
    }

    @media(max-width: vars.$tab-width) {
      padding-left: 0;
    }
  }
}

.sidenav-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  mat-sidenav {
    border-radius: 0;
    width: auto;
  }
}
