<form
  autocomplete="off"
  class="form"
  novalidate
  [formGroup]="form"
>
  <mat-form-field
    class="mat-form-field_search-box"
    appearance="outline"
    color="accent"
  >
    <input
      aria-label="Search Box"
      placeholder="Search"
      type="text"
      #searchBox
      matInput
      formControlName="search"
      [matAutocomplete]="auto"
      (input)="search(searchBox.value)"
    >

    <button
      *ngIf="searchBox.value"
      aria-label="Clear"
      matSuffix
      mat-icon-button
      (click)="searchBox.value=''; search('')"
    >
      <mat-icon class="icon-close">close</mat-icon>
    </button>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of searchOptions$ | async"
        [value]="option.name"
        (click)="optionSelected(option)"
      >
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
