<a
  mat-button
  [routerLink]="['../coffees']"
  [routerLinkActive]="'selected'"
  [routerLinkActiveOptions]="{ exact: true }"
  class="button-rounded"
>Coffees</a>

<a
  mat-button
  [routerLink]="['../users']"
  [routerLinkActive]="'selected'"
  class="button-rounded"
>Users</a>

<button
  mat-button
  [matMenuTriggerFor]="menu"
  class="button-rounded"
>Menu</button>
<mat-menu #menu="matMenu">
  <a
    mat-menu-item
    [routerLink]="['../coffees']"
    [routerLinkActive]="'selected'"
  >Coffees</a>

  <a
    mat-menu-item
    [routerLink]="['../users']"
    [routerLinkActive]="'selected'"
  >Users</a>
</mat-menu>

<button
  mat-button
  [matMenuTriggerFor]="libDev"
  class="button-rounded"
>Lib Dev</button>
<mat-menu #libDev="matMenu">
  <a
    mat-menu-item
    [routerLink]="['../lib-dev/phone-form-field']"
    [routerLinkActive]="'selected'"
  >Phone Form Field</a>
</mat-menu>