:host {
  display: block;
  padding: 20px 0 20px 0;
  width: 100%;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .form-field {
    min-width: 300px;

    mat-form-field {
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  .text {
    &:hover {
      cursor: pointer;
    }
  }
}
