<form [formGroup]="form" (ngSubmit)="log()">
  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <ngx-phone-form-field formControlName="tel" required></ngx-phone-form-field>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error *ngIf="form.controls['tel'].invalid">Example: +38 (096) 4064713</mat-error>
    <mat-error *ngIf="form.controls['tel'].hasError('required')">Field is required</mat-error>
    <mat-error *ngIf="form.controls['tel'].touched">Field is touched</mat-error>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Phone number 2</mat-label>
    <ngx-phone-form-field formControlName="tel1" required></ngx-phone-form-field>
    <mat-error *ngIf="form.controls['tel1'].invalid">Example: +38 (096) 4064713</mat-error>
    <mat-error *ngIf="form.controls['tel1'].hasError('required')">Field is required</mat-error>
    <mat-error *ngIf="form.controls['tel1'].touched">Field is touched</mat-error>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Simple Input</mat-label>
    <input matInput formControlName="simpleInput" />
    <mat-error *ngIf="form.controls['simpleInput'].hasError('required')">Field is required</mat-error>
    <mat-error *ngIf="form.controls['simpleInput'].touched">Field is touched</mat-error>
  </mat-form-field>

  <br/>
  <br/>

  <button
    type="submit"
    mat-stroked-button
    [disabled]="form.invalid"
  >
    console.log
  </button>
</form>
