/* You can add global styles to this file, and also import other style files */
@use "/node_modules/@angular/material" as mat;
@use "styles/themes/themes" as themes;
@use "styles/themes/sizes";
@use 'styles/variables' as vars;
@use 'styles/mat-mixins' as mixin;
@use 'styles/mat-button';

@include mat.core();
// @include mat.strong-focus-indicators((
//   border-style: dotted,
//   border-width: 4px,
//   border-radius: 2px,
// ));
/*
  Do not forget to add '@inctlude' to
   - dark theme colors: 'scr/styles/themes/dark.scss',
   - theme density: 'src/styles/themes/_sizes.scss'.
*/
:root {
  @include mat.core-theme(themes.$light-theme);

  @include mat.autocomplete-theme(themes.$light-theme);
  @include mat.button-theme(themes.$light-theme);
  @include mat.form-field-theme(themes.$light-theme);
  @include mat.icon-theme(themes.$light-theme);
  @include mat.input-theme(themes.$light-theme);
  @include mat.menu-theme(themes.$light-theme);
  @include mat.sidenav-theme(themes.$light-theme);
  @include mat.toolbar-theme(themes.$light-theme);
  @include mat.tree-theme(themes.$light-theme);

  @include mat.typography-hierarchy(themes.$light-theme);
  // @include mat.strong-focus-indicators-theme(themes.$light-theme);

  @include mixin.mat-button-hover-selected(themes.$light-theme);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: vars.$tab-width) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 16px;
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(206, 206, 206, 0.6);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(160, 160, 160, 1);
    border-radius: 8px;
  }
}

.hide {
  display: none !important;
}
